<!--================ Map Area =================-->
<%# <section class="home_map_area">
	<div id="mapBox2" class="mapBox2" 
		data-lat="40.00" 
		data-lon="-105.35" 
		data-zoom="" 
		data-info=""
		data-mlat="40.00"
		data-mlon="-105.35">
	</div>
</section> %>
<!--================ End Map Area =================-->

