<!--================ Riders Area =================-->
        <section class="team_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<a href="<%= riders_path %>"><h2>Meet The Riders</h2></a>
        			<p>riders</p>
        		</div>
        		<div class="row team_inner">
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_name">
        						<h4>Dustin Green</h4>
        						<p>Hickory Hills, IL</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Jason Finn</h4>
        						<p>Huntington Beach, CA</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Howard Thompson</h4>
        						<p>Hale, MO</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Maggie Lantz</h4>
        						<p>Dublin OH</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Lawrence Duran</h4>
        						<p>Fort Myers FL</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Irene Molina</h4>
        						<p>Tucson Az</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Nancy Garner</h4>
        						<p>Baltimore Md</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Tara Taylor</h4>
        						<p>Minneapolis MN</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Alejandro Smith</h4>
        						<p>Scarborough ME</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Tricia Renshaw</h4>
        						<p>Mystic CT</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Travis Cook</h4>
        						<p>Twin Lakes WI</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Joan Brooks</h4>
        						<p>Norfolk VA</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Joseph Rogers</h4>
        						<p>Wayne NJ</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Matthew Gregson</h4>
        						<p>Brashear MO</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Katie Dunlap</h4>
        						<p>Marion VA</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Leo Howard</h4>
        						<p>Dallax TX</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Maria Baisden</h4>
        						<p>Raleigh NC</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Sandy Townsend</h4>
        						<p>Newport PA</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Melinda Stephenson</h4>
        						<p>Kahului HI</p>
        					</div>
        				</div>
        			</div>
                    <div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					
        					<div class="team_name">
        						<h4>Jayson Nicholas</h4>
        						<p>Alexandria VA
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================ End Riders Area =================-->