<!--================About Area =================-->

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
    	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
		<div class="container">
			<div class="banner_content text-center">
				<div class="page_link">
					<a href="<%= root_path %>">Home</a>
					<a href="<%= pages_about_path %>">About</a>
				</div>
				<h2>About Us</h2>
			</div>
		</div>
    </div>
</section>

<div class="container" style="margin-top: 25px">
	<div class="col-sm-12" style="color: white; text-align: center;">
		<div class="welcome_text">
			<h3 style="color: white">Welcome to Boulder Bike Tour</h3>
			<p>Once every decade, an exciting, prestigious, and inspiring bike race takes place in Colorado at the foot of the Rocky Mountains. It's the Boulder Bike Tour, and it's coming up in 2020!Once every decade, an exciting, prestigious, and inspiring bike race takes place in Colorado at the foot of the Rocky Mountains. It's the Boulder Bike Tour, and it's coming up in 2020! The huge hype around the event means it's time to start preparing the whole event now. The organizers need a website for the event and have launched a call for proposals, meaning you will be submitting your idea for the bike tour's site!</p>
			<p>Once every decade, an exciting, prestigious, and inspiring bike race takes place in Colorado at the foot of the Rocky Mountains. It's the Boulder Bike Tour, and it's coming up in 2020!Once every decade, an exciting, prestigious, and inspiring bike race takes place in Colorado at the foot of the Rocky Mountains. It's the Boulder Bike Tour, and it's coming up in 2020! The huge hype around the event means it's time to start preparing the whole event now. The organizers need a website for the event and have launched a call for proposals, meaning you will be submitting your idea for the bike tour's site!</p>
		</div>
	</div>
</div>
<!--================About Area End =================-->
<a href="<%= root_path %>">Back</a>