<!--================ Riders Area =================-->
<section class="home_banner_area">
	<div class="banner_inner">
    	<div class="container">
    		<div class="banner_content">
    			<h2>Riders</h2>
    			<p>This is the riders page</p>
    		</div>
    	</div>
    </div>	
</section>

<%= render partial: 'layouts/front_end/riders' %>
<!--================ End Riders Area =================-->

<a href="<%= root_path %>">Back</a>